@import url(./font.css);

/* Fonts variable creation */
:root {
    /* Google fonts */
    --Josefin: 'Josefin', Helvetica, Verdana, Arial, sans-serif;
    --Lexend: 'Lexend', Helvetica, Verdana, Arial, sans-serif;
    --Livvic: 'Livvic', Helvetica, Verdana, Arial, sans-serif;
    --Roboto: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 16px * 62.5px = 10px = 1rem */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EDEFEE;
    font-family: var(--Josefin);
    font-size: 1.6rem;
    height: 100vh;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
